body {
  font-family: Graphik, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.App {
  text-align: center;
}

/* Homepage */
.hero {
  width: 700px;
  margin: 200px auto 0 auto;
  text-align: center;
}
h1.subtitle {
  text-align: left;
  color: #07a254;
  font-weight: bold;
  margin-bottom: 8px;
}
.title {
  text-align: left;
  color: #000000;
  font-weight: 700;
  margin-bottom: 16px;
}

.lead-copy {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn-primary.hero-button {
  float: left;
  background-color: #07a254;
  color: #ffffff;
}
.btn-primary.hero-button:hover {
  background-color: #0fb863;
}
